.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spaceing-4);
}

.webTitle {
  color: var(--primary-color);
  text-align: center;
  margin-top: var(--spaceing-4);
}

.cartBtn {
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  padding: var(--spaceing-2);
  border-radius: 50%;
  position: absolute;
  right: 10%;
  bottom: 2%;
  cursor: pointer;
}

.cartBtn:active {
  animation: bigger 1s;
}

.cartIcon {
  fill: var(--primary-color);
  width: 60px;
  height: 60px;
}

.cartBadge {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: var(--spaceing-1);
  color: white;
  position: absolute;
  right: 4%;
  top: 4%;
  animation: jump 1.2s infinite;
}

/* animetion */

@keyframes jump {
  from {
    transform: translateY(-4px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  to {
    transform: translateY(1px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@keyframes bigger {
  from {
    opacity: 0.8;
    transform: scale(0.9);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  to {
    transform: scale(3);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
