.bigTitle {
  color: var(--secondary-color);
  margin-bottom: 4%;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-color);
}

.loginBox {
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  width: 300px;
  height: 240px;
  border-radius: var(--spaceing-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.loginText {
  margin-top: var(--spaceing-2);
  color: var(--secondary-color);
}

.loginInput {
  margin-top: var(--spaceing-1);
  padding: var(--spaceing-1);
  border: 1px solid var(--color);
  border-radius: var(--spaceing-1);
}

.loginBtn {
  margin-top: var(--spaceing-3);
  border: none;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding-block: var(--spaceing-1);
  padding-inline: var(--spaceing-2);
  border-radius: var(--spaceing-1);
  cursor: pointer;
}

/* home */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spaceing-4);
}

.webTitle {
  color: var(--primary-color);
  text-align: center;
  margin-top: var(--spaceing-4);
}

.logOutBtn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding-block: var(--spaceing-1);
  padding-inline: var(--spaceing-2);
  border: none;
  border-radius: var(--spaceing-1);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  position: absolute;
  cursor: pointer;
}

.logOutBtn:active {
  animation: var(--clicked);
}

.cartBtn {
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  padding: var(--spaceing-2);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.cartBtn:active {
  animation: bigger 1s;
}

.cartIcon {
  fill: var(--primary-color);
  width: 60px;
  height: 60px;
}

.cartBadge {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: var(--spaceing-1);
  padding-right: var(--spaceing-1);
  color: white;
  position: absolute;
  right: 4%;
  top: 4%;
  animation: jump 1.2s infinite;
}

/* animetion */

@keyframes jump {
  from {
    transform: translateY(-4px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  to {
    transform: translateY(1px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@keyframes bigger {
  from {
    opacity: 0.8;
    transform: scale(0.9);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  to {
    transform: scale(3);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

/*checkout */
.checkOutContainer {
  display: flex;
  flex-direction: column;
  padding-top: var(--spaceing-4);
  padding-left: var(--spaceing-4);
  padding-right: var(--spaceing-4);
  overflow: hidden;
  position: relative;
}

.cartTitle {
  color: var(--secondary-color);
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: var(--spaceing-3);
  right: var(--spaceing-3);
  cursor: pointer;
}

.cartCloseIcon {
  width: var(--spaceing-4);
  height: var(--spaceing-4);
  fill: var(--secondary-color);
}

.ordersContainer {
  border-radius: var(--spaceing-1);
  border: 1px solid var(--color);
  margin-top: var(--spaceing-4);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.orderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--spaceing-3);
}

.orderStartPart {
  display: flex;
  align-items: center;
  flex: 1;
}

.orderPicture {
  width: 120px;
  height: 120px;
  border-radius: var(--spaceing-1);
}

.orderName {
  margin-left: var(--spaceing-2);
}

.orderEndPart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.removeQty,
.addQty {
  border-radius: 50%;
  width: var(--spaceing-3);
  height: var(--spaceing-3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.removeQty {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.addQty {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.showQty {
  border: 1.5px solid var(--color);
  border-radius: var(--spaceing-1);
  padding: var(--spaceing-1);
  width: 30%;
  margin-left: var(--spaceing-1);
  margin-right: var(--spaceing-1);
}

.divider {
  height: 1px;
  display: flex;
  background-color: var(--color);
  margin-left: var(--spaceing-3);
  margin-right: var(--spaceing-3);
}

.total {
  margin-top: var(--spaceing-5);
  align-self: end;
  color: var(--primary-color);
}

.checkOutBtn {
  align-self: center;
  padding: var(--spaceing-2);
  margin-top: var(--spaceing-5);
  border: none;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  border-radius: var(--spaceing-1);
  background-color: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;
}

.checkOutBtn:active {
  animation: var(--clicked);
}

/* payment */
.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spaceing-4);
  padding-left: var(--spaceing-4);
  padding-right: var(--spaceing-4);
  overflow: hidden;
  position: relative;
}

.paymentSumContainer {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  margin-top: 4%;
  border-radius: var(--spaceing-1);
  padding: var(--spaceing-3);
}

.paymentSumWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paymentNomalText {
  color: var(--secondary-color);
  margin-top: var(--spaceing-2);
}

.totalPrice {
  color: var(--primary-color);
  margin-top: var(--spaceing-4);
}

.paymentMethodContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spaceing-3);
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  margin-top: 4%;
  border-radius: var(--spaceing-1);
  padding: var(--spaceing-3);
}

.paymentMethodBtn,
.activePaymentMethodBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  cursor: pointer;
}

.activePaymentMethodBtn {
  background-color: var(--secondary-color);
  animation: chose 0.5s;
}

.creditCardIcon {
  width: var(--spaceing-5);
  height: auto;
}

.cashIcon {
  width: var(--spaceing-5);
  height: auto;
}

.payBtn {
  align-self: center;
  padding: var(--spaceing-2);
  margin-top: var(--spaceing-5);
  border: none;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  border-radius: var(--spaceing-1);
  background-color: var(--primary-color);
  color: var(--bg-color);
  cursor: pointer;
}

.payBtn:active {
  animation: var(--clicked);
}

@media screen and (max-width: 600px) {
  .cartBtn {
    right: 10%;
    bottom: -8%;
  }
  .logOutBtn {
    top: -10%;
    right: -10%;
  }
  .ordersContainer {
    width: 100%;
  }
  .total {
    margin-right: 26%;
  }
  .paymentSumContainer,
  .paymentMethodContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .cartBtn {
    right: 10%;
    bottom: -8%;
  }
  .logOutBtn {
    top: 8%;
    right: 10%;
  }
  .ordersContainer {
    width: 50%;
  }
  .total {
    margin-right: 26%;
  }
  .paymentSumContainer,
  .paymentMethodContainer {
    width: 50%;
  }
}

@media screen and (max-width: 1920px) {
  .cartBtn {
    right: 10%;
    bottom: -8%;
  }
  .logOutBtn {
    top: 8%;
    right: 10%;
  }
  .ordersContainer {
    width: 50%;
  }
  .total {
    margin-right: 26%;
  }
  .paymentSumContainer,
  .paymentMethodContainer {
    width: 50%;
  }
}

@media screen and (min-width: 1921px) {
  .cartBtn {
    right: 24%;
    bottom: -8%;
  }
  .logOutBtn {
    top: 8%;
    right: 24%;
  }
  .ordersContainer {
    width: 30%;
  }
  .total {
    margin-right: 36%;
  }
  .paymentSumContainer,
  .paymentMethodContainer {
    width: 30%;
  }
}

@keyframes chose {
  from {
    opacity: 0.7;
    transform: scale(0.98);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  to {
    opacity: 0.9;
    transform: scale(1.04);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
